if !isDev
  script(defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "11a0f295c1b04fb4a3756d0ef2568044"}')
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-64912146-3")
  script.
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'UA-64912146-3')
